@charset "UTF-8";

html {


}

body {
	width: auto;



}

.column {

	width: auto;
	background: #ccc;
}

.column {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
	-webkit-column-width: 400px;
	-moz-column-width: 400px;
				  column-width: 400px;
}

@media (min-width: 1200px) {
	.content1 {
		width: 100%;
		background: red;

	}
}

@media (min-width: 800px) and (max-width: 1199px) {
	.content1 {
			width: 100%;
			background: green;
	}
}
